 @import "~bulma/sass/utilities/_all";

 $primary: #2c3e50;
 $secondary-1: #7B3F3F;
 $secondary-2: #488600;
 $primary-invert: findColorInvert($primary);

 $text: $primary;

 $family-monospace: "PTMono";

 $colors: (
   "white": ($white, $black),
   "black": ($black, $white),
   "light": ($light, $light-invert),
   "dark": ($dark, $dark-invert),
   "primary": ($primary, $primary-invert),
   "info": ($info, $info-invert),
   "success": ($success, $success-invert),
   "warning": ($warning, $warning-invert),
   "danger": ($danger, $danger-invert)
 );

 $family-primary: $family-monospace;
 $link: $primary;
 $link-invert: $primary-invert;
 $link-focus-border: $primary;

 $title-height: 9vh;

 @import "~bulma";
 @import "~buefy/src/scss/buefy";
